
@import '../base';

.c-dashboard {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;

	& > .add-container {
		position: absolute;
		right: 30px;
		bottom: 30px;
		width: 46px;
		height: 46px;
		padding: 0;
		box-sizing: border-box;

		& > .add-transaction {
			width: 45px;
			height: 45px;
			border: 1px solid steelblue; //darken($color-blue, 15%);
			border-radius: 23px;
			background-color: cornflowerblue;
			color: $color-white;
			font-size: 32px;
			line-height: 47px;
			text-align: center;
			box-shadow: 1px 1px 10px -3px $color-black;
			cursor: pointer;
		}
	}

	& > .budget-data {
		width: 100%;
		height: 100%;
		padding: 30px 40px;
		overflow: hidden;
		overflow-y: auto;
		box-sizing: border-box;

		@media screen and (max-width: 1000px) {
			padding: 20px 10px;
		}

		&.empty {
			padding: 100px 0 0;

			& > h1 {
				color: mediumseagreen;
				font-size: 36px;
				line-height: 1;
				text-align: center;
			}

			& > h2 {
				color: $color-mediumgrey;
				font-size: 32px;
				font-weight: normal;
				line-height: 1;
				text-align: center;
			}

			& > .loading {
				width: 100%;
				font-size: 32px;
				line-height: 100px;
				text-align: center;
			}
		}
	}
}
