
@import './base';

.application-main {
	width: 100%;
	height: 100%;
	padding: 56px 0 0;
	background-color: $color-white;
	overflow: hidden;
	box-sizing: border-box;

	& > .application-header {
		width: 100%;
		height: 56px;
		margin: -56px 0 0;
		padding: 5px 20px;
		background-color: $color-black;
		color: $color-blue;
		box-sizing: border-box;

		& > .application-logo {
			float: left;
			font-size: 32px;
			line-height: 46px;
		}
	}

	& > .application-body {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}

